* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    
}
:root{
    --graydark: #5b5a5a;
    --secondary-color:rgb(247, 242, 242);
    --primary-color:#dadada;
    --bg-carolina-blue: hsla(199, 89%, 49%, 1);
    --bg-prussian-blue: hsla(216, 33%, 20%, 1);
    --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
    --bg-oxford-blue: hsla(222, 44%, 13%, 1);
    --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
    --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
}
#main{
    width: 100%;
    height: 100%;
    position: relative; 
    
}
#nav{
    /* position: absolute; */
    position: fixed;
    top: 0;
     width: 100%;
     height: 7%;
     /* background-image: var(--gradient-1); */
     background-color: white;
     /* z-index: 9999; */
     position: relative;
     display: flex;
     justify-content: space-evenly;
    align-items: center;
 }
#logo{
    height: 70%;
    width: 100px;
    /* background-color: red; */
    background-image: url(images/logo.png);
    background-size: 100% 100%;
    z-index: 999;
}
#navleft{
    width: 15%;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
#navmid{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    background-color:#dadada;

    position: relative;
    border-radius: 5px;
}
.Searchbox{
    width: 80%;
    height: 100%;
    background: transparent;
    /* background-color: bisque; */
}
.nav-search{
    border: none;
    outline: none;
    background: transparent;
}

#container{
    width: 100%;
    /* height: 100vh; */
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
}
#left{

    width: 20%;
    /* min-height: 200vh; */
    /* background-color: var(--primary-color); */
   
    position: relative;
    justify-content: center;

}
#bars{
   
    padding: 5%;
    padding-top: 10%;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 2px;
}
.bar{
    margin-top: 2px;
    position: relative;
    display: flex;
    height: 50px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;

}
.barleft{
    height: 100%;
    width: 20%;
    position: relative;
 
}
.barright{
    height: 100%;
    width: 80%;
    position: relative;

}
.in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bar-img{
    height: 90%;
    width: 90%;
   border-radius: 2px;
   background-size: cover;
    background-image:url(images/post-2.png);
}
#right{
    width: 20%;
   /* min-height:  200vh; */
   /* background-color: var(--primary-color); */
}
#mid{
    width: 60%;
   /* min-height: 200vh; */
    background-color:var(--primary-color);
    position: relative;
    gap: 5px;
    padding-top: 60px;
    
}
#midsearch{
    width: 100%;
    height: 100px;
   background-color: var(--secondary-color);
    /* background-color: rgb(247, 242, 242); */
    border-radius: 5px;
}
#msup {
    width: 100%;
    height: 50px;
    padding: 2px;
    position: relative;
    display: flex;
}
.msup-left{
    height: 100%;
    width: 10%;
    position: relative;
    }
.msup-circle{
    
    position: absolute;
     height: 46px;
     width: 46px;
    background-image: url(images/post-3.png);
    background-size: cover;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.msup-right{
    margin:2px ;
    height: 85%;
    width: 90%;
    display: flex;
    padding: 14px;
    border-radius: 28px;
    align-items: center;
    background-color: #e5dede;
    border: 2px solid #788383;
}
.search-icon{

}
.search-input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(88, 85, 85);
    margin-left: 14px;
    
    
}
 #msdown {
    width: 100%;
    height: 50px;
    /* background-color: rgb(50, 50, 82); */
    display: flex;
    position: relative;
    justify-content: space-between;
}
.msdown-icons{
    width: 33%;
    position: relative;

}
.msdown-icon{
    
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


#post{
    margin-top: 50px;
    width: 100%;
    min-height: 170px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}
#post-upper{
    width: 100%;
    height: 70px;
    /* background-color: rgb(166, 184, 184); */
    display: flex;
    position: relative;
}


#post-up-left{
    width:10% ;
    height: 100%;
    /* background-color: rgb(204, 140, 62); */
    position: relative;
    padding: 5px;
   
}
#post-up-left-cicle{
    position: absolute;
    width:55px ;
    height: 55px;
    border-radius: 50%;
    background-image: url(images/post-4.png);
    background-size: cover;
}
#post-up-right{
    width:90% ;
    height: 100%;
    /* background-color: bisque; */
   
}
#post-up-right-up{
    width:100% ;
    height: 50%;
    /* background-color: rgb(128, 100, 66); */
    
 
}
.xmark{
    position: absolute;
    right: 10px;
    top: 10px;
}

#post-up-right-low{
    width:100% ;
    height: 50%;
    /* background-color: rgb(206, 147, 74); */
}
#post-text{

    width: 100%;
    min-height: 100px;
    /* background-color: rgb(59, 130, 130); */
    padding: 10px;
}
#post-img{
    width: 100%;
    height: 400px;
    background-image: url(images/post-img.jpg);
    background-position: center;
    background-size: cover;
}
#post-lower{
    width: 100%;
    height: 50px;
    /* background-color: rgb(13, 129, 129); */
    display: flex;
    position: relative;
    padding: 10px;
    align-items: center;

}
.post-triple-dot{
    
    position: absolute;
    right :20px;
    top: 18px;
}
.post-comment{
    position: absolute;
    margin-left :15%;
    top: 18px;
}
.post-like{
  display: flex;
  position: relative;
  gap: 10px;
}
/* #posting{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #788383;
} */
#create-post{
    display: none;
    position: absolute;
    z-index: 99999;
    height: 60%;
    width: 70%;
    /* background: rgb(177, 176, 176); */
    border-radius: 5px;
    /* top:0%; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* position: relative; */
}

.create-post-up{
    height: 20%;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.create-post-mid{
    height: 70%;
    width: 100%;
    /* background-color: rgb(181, 218, 204); */
    position: relative;
    border: none;

}
.create-post-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-family: sans-serif;
    background-color: #bbbbbb;
    padding: 20px;
}
.create-post-down{
    height: 10%;
    width: 100%;
    background-color: var(--secondary-color);
     position: relative;
     border-radius: 5px;
}
.post-btn{
    position: absolute;
    top:20%;
    right:20px;
    gap: 50px;
}
.cancel-btn{
  height: 25px;
  width: 100px;
  background-color: #cacfd2;
  
  border-radius:5px;
  align-items: center;
}
.submit-btn{
    height: 25px;
    width: 100px;
    background-image: var(--gradient-1);
    /* color: var(--gradient-1); */
    border-radius:5px;
    align-items: center;
}